@font-face {
    font-family: Handform;
    src: url("../resources/fonts/handform.ttf");
}

@font-face {
    font-family: Ziperhead;
    src: url("../resources/fonts/ziperhead.otf");
}

body{
    margin: 0px;
}

.black{
    color: rgb(41, 41, 41) !important;  
}

.Hobo-Content{
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.Hobo-First-Section{    
    height: 40vh;
    background-image: url("../resources/images/First-Section-Background.png");
    background-size: cover;
    filter: blur(5px);
}

.Hobo-First-Section--ImgTitle{
    position: absolute;
    top: 5px;
    left: 5%;
    right: 5%;
    width: 90%;
    height: auto;
    z-index: 2;
}

.Hobo-First-Section--ImgChicken{
    position: absolute;
    top: 32vh;
    left: -30px;
    z-index: 3;
    width: 85px;
    height: auto;
}

.Hobo-First-Section--ImgHobo{
    position: absolute;
    top: 37vh;
    left: 26vw;
    z-index: 3;
    width: 75px;
    height: auto;
}

.Hobo-First-Section--ImgCheeks{
    position: absolute;
    top: 35vh;
    left: 55vw;
    z-index: 3;
    width: 86px;
    height: auto;
}

.Hobo-First-Section--ImgAlien{
    position: absolute;
    top: 33vh;
    right: -10vw;
    z-index: 3;
    width: 100px;
    height: auto;
}

.Hobo-Second-Section{
    background-color: black;
    max-width: 100%;
    height: fit-content;
    text-align: center;
}

.Hobo-Second-Section--ImgDivisor{
    width: 100%;
    height: auto;
    margin-top: -5px;
    margin-bottom: -5px;
    z-index: 0;
}

.Hobo-Normal-Txt{
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Handform;
    font-size: 10px;
    color: white;
    letter-spacing: 2px;
}

.Hobo-Second-Section div{
    background-image: url("../resources/images/Second-Section-Background.png");
    background-size: cover;
    height: fit-content;
    width: 100%;
    padding-bottom: 20px;
}

.Hobo-Second-Section iframe{
    margin-top: 20px;
    width: 65%;
    height: 50%;
}

.Hobo-Second-Section div h4{
    margin-top: 20px;
}

.Hobo-Third-Section{
    background-image: url(../resources/images/Third-Section-Background.png);
    background-size: cover;
    position: relative;
    height: 57vh;
    width: 100%;
    text-align: center;
}

.Hobo-Third-Section .Powerups{
    padding-top: calc(25%);
}

.Hobo-Title-Background{
    background-image: url(../resources/images/Title-Background.png);
    background-size: cover;
    position: absolute;
    top: 3vh;
    left: 28vw;
    text-align: center;
    width: 46vw;
}
.Hobo-Title-Txt{
    font-family: Ziperhead;
    font-size: 13px;
    color: white;
    letter-spacing: 2px;
}

.ImgPowerUps-Pegaucho{
    width: calc(25%);
    height: auto;
    position: relative;
    margin-right: 20px;
}

.ImgPowerUps-Naike{
    width: calc(25%);
    height: auto;
    position: relative;
}

.ImgPowerUps-Vive10{
    width: calc(25%);
    height: auto;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
}

.ImgPowerUps-Brick{
    width: calc(25%);
    height: auto;
    position: relative;
    margin-top: 20px;
}

.Hobo-Four-Section{
    text-align: center;
    height: 70vh;
    padding: 1%;
}

.ImgTutorial{
    background: url(../resources/images/Tutorial.png) no-repeat content-box;
    background-size: contain;
    height: 100%;
    display: block;
}

.Hobo-Fifth-Section{
    text-align: center;
}

.ImgProfiles{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.SplashImg{
    width: 100%;
}
.SplashImg-SecretCh1{
    width: 100%;
}
.SplashImg-SecretCh2{
    display: none;
}
.SplashImg-SecretCh3{
    display: none;
}

.Hobo-Sixth-Section{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.SplashImg-GGJImg{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.SplashImg-IndiePrizeImg{
    width: 170px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
}

.Hobo-Contact-Section{
    position: relative;
    height: 25vh;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.Hobo-Contact-Title-Txt{
    display: block;
    border-bottom: solid 1px rgba(0,0,0,0.4);
    padding: 5px;
    width: 50vw;
    margin: 0 auto;    
    font-family: Ziperhead;
    font-size: 13px;
    letter-spacing: 2px;
}

.Hobo-Contact-Info{
    margin-top: 5px;
    width: 100%;
}


.Hobo-Normal-Txt-Barlow{
    font-family: 'Barlow', sans-serif;
    font-size: 10px;
    color: white;
    letter-spacing: 2px;
}
@media(min-width: 600px){
    .Hobo-First-Section {
        height: 94vh;
    }
    .Hobo-First-Section--ImgTitle {
        top: 3vh;
        left: auto;
        right: 5%;
        width: 53%;
    }
    .Hobo-First-Section--ImgChicken {
        top: 62vh;
        left: -7vw;
        width: 20vw;
    }
    .Hobo-First-Section--ImgHobo {
        top: 72vh;
        left: 20vw;
        width: 20vw;
    }
    .Hobo-First-Section--ImgCheeks {
        top: 73vh;
        left: 50vw;
        width: 20vw;
    }
    .Hobo-First-Section--ImgAlien {
        top: 62vh;
        right: -8vw;
        width: 20vw;
    }
    .Hobo-Normal-Txt {
        padding-left: 20vw;
        padding-right: 20vw;
        font-size: 28px;
    }
    .Hobo-Second-Section div {
        height: fit-content;
    }
    .Hobo-Second-Section--ImgDivisor {
        height: 28vh;
    }
    .Hobo-Second-Section iframe {
        width: 65vw;
        height: 70vh;
    }
    .Hobo-Second-Section div h4{
        margin-top: 5vh;
    }
    .Hobo-Third-Section {
        height: 75vh;
    }
    .Hobo-Title-Background {
        width: 35vw;
        height: 17vh;
        margin: 0 auto;
        position: relative;
        left: 0px;
    }
    .Hobo-Title-Txt {
        margin-top: 6vh;
        position: absolute;
        font-size: 65px;
        left: 6vw;
    }
    .Hobo-Third-Section .Powerups {
        display: flex;
        padding-top: 10vh;
        position: relative;
    }
    .Hobo-Third-Section .Powerups div{
        width: 100%;
    }
    .ImgPowerUps-Pegaucho {
        width: calc(35%);
        margin-left: 10vh;
        margin-right: 10vh;
    }
    .ImgPowerUps-Naike {
        width: calc(35%);        
        position: relative;
    }
    .ImgPowerUps-Vive10 {
        width: calc(35%);     
        margin-top: 0px;
        margin-right: 10vh;
    }
    .ImgPowerUps-Brick {
        width: calc(35%);     
        margin-top: 0px;
    }
    .Hobo-Four-Section{
        height: 60vh;
    }
    .ImgTutorial{
        background: url(../resources/images/TutorialHD.png) no-repeat;
        background-size: contain;
        margin-left: 100px;
        margin-right: 100px;
    }
    .ImgProfiles{
        grid-template-columns: 25% 25% 25% 25%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20vh;
    }
    .SplashImg-SecretCh1{
        display: unset;
        width: 100%;
    }
    .SplashImg-SecretCh2{
        display: unset;
        width: 100%;
    }
    .SplashImg-SecretCh3{
        display: unset;
        width: 100%;
    }

    .Hobo-Sixth-Section{
        display: flex;
        flex-direction: row;
    }
    
    .SplashImg-GGJImg{
        width: 19vw;
        height: 19vw;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 100px;
    }
    
    .SplashImg-IndiePrizeImg{
        width: 25vw;
        height: 25vw;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 100px;
    }

    .Hobo-Contact-Title-Txt{
        font-size: 50px;
    }

    .Hobo-Normal-Txt-Barlow{
        font-size: 18px;
    }
}